// you can custom css vars here
.post-tag {
    white-space: nowrap;
    color: rgb(153, 153, 153)
}

:root {
    /* 背景图片 */
    --yun-bg-img: url("https://api.dujin.org/pic/fengjing");
    /* 侧边栏背景图片 */
    /* --yun-sidebar-bg-img: url("https://api.dujin.org/pic/fengjing"); */
   }

.aplayer .aplayer-info .aplayer-music .aplayer-title {
    color: #666666;
}